@charset "utf-8";

// Button sizes
@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin btn-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $background;

  &:hover,
  &:focus {
    color: $color;
    background-color: $background;
    border-color: tint($border, $btn-hover-tint-percent);;
    outline: none;
  }

  &:active {
    background: shade($background, $btn-active-shade-percent);
    border-color: shade($border, $btn-active-shade-percent);
    color: $color;
    outline: none;
  }

  &.is-active {
    background: shade($background, $btn-active-shade-percent);
    border-color: shade($border, $btn-active-shade-percent);
    color: $color;
  }

  &.is-plain {
    background: $btn-default-fill;
    border: $border-base;
    color: $btn-default-color;

    &:hover,
    &:focus {
      background: $color-white;
      border-color: $border;
      color: $background;
    }

    &:active {
      background: $color-white;
      border-color: shade($border, $btn-active-shade-percent);
      color: shade($background, $btn-active-shade-percent);
      outline: none;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}