@charset "utf-8";

@import "../common/variables";
@import "../common/mixins";

.page-contact {
  min-height: 91px;

  .light-wrapper {
    background: #FFF;
    border-bottom: 1px solid #e3e3e3;
  }

  .inner {
    padding-top: 26px;
    padding-bottom: 26px;

    h1 {
      font-size: 22px;
      font-weight: normal;
      margin: 4px 0 0 0;
    }
  }

  @media (max-width: 768px) {
      padding: 0 20px;
      padding-bottom: 40px;
  }
}

.post-title {
  color: #616161;
  font-size: 22px;
  line-height: 28px;
  font-weight: 800;

  margin-bottom: 10px;
}

.divide-20 {
  width: 100%;
  height: 20px;
}

.form-container {

}

.forms {
  position: relative;
  padding: 0;
  width: 100%;

  .container {
    width: 100%;
    margin: auto;
    padding: 0;

    .form-message {
      margin-bottom: 15px;
      resize: vertical;
    }
  }
}

.sidebox {
  &.widget {
    h4 {
      margin-top: 0;
      font-size: 16px;
      margin-bottom: 8px;
      color: #616161;
      font-weight: 800;
      @media (max-width: 840px) {
        margin-top: 20px;
      }
    }
    
    .contact-info {
      margin: 0;
      padding: 0;
      list-style: none;
      i, .icon {
        margin-right: 7px;
      }

      .address {
        margin-bottom: 20px;
      }
    }
  }
}