@charset "utf-8";

$collapse-border-color: #dfe6ec;
$collapse-header-height: 43px;
$collapse-border-radius: 0;
$collapse-header-padding: 20px;
$collapse-header-fill: $color-white;
$collapse-header-color: $color-extra-light-black;
$collapse-header-size: 13px;
$collapse-content-fill: $color-dark-white;
$collapse-content-size: 13px;
$collapse-content-color: $color-base-black;
