@charset "utf-8";

//======== 【Global】 ========
$base-zindex: 1;
$body-bg: #F5F5F5;
$body-padding-vertical: .24rem;
$body-padding-bottom: .5rem;
$line-color: #D9D9D9;
$line-high-color: #B2B2B2;
$max-width: 750px;
$min-width: 300px;
$height: 80px;