@charset "utf-8";

/* Input
------------------*/
$input-font-size: $font-size-base;
$input-color: $font-color-base;
$input-width: 140px;
$input-height: 36px;
$input-border: $border-base;
$input-border-color: $border-color-base;
$input-border-radius: $border-radius-base;
$input-border-color-hover: $border-color-hover;
$input-fill: $color-white;
$input-fill-disabled: $disabled-fill-base;
$input-color-disabled: $font-color-disabled-base;
$input-icon-color: $color-extra-light-silver;
$input-placeholder-color: $color-light-silver;
$input-max-width: 314px;

$input-hover-border: $border-color-hover;

$input-focus-border: $color-primary;
$input-focus-fill: $color-white;

$input-disabled-fill: $disabled-fill-base;
$input-disabled-border: $disabled-border-base;
$input-disabled-color: $disabled-color-base;
$input-disabled-placeholder-color: $color-extra-light-silver;

$input-large-font-size: 16px;
$input-large-height: 42px;

$input-small-font-size: 13px;
$input-small-height: 30px;

$input-mini-font-size: 12px;
$input-mini-height: 22px;