@charset "utf-8";

$index-popper: 2000;
$popover-fill: $color-white;
$popover-font-size: 12px;
$popover-border-color: $disabled-border-base;
$popover-arrow-size: 6px;
$popover-padding: 10px;
$popover-title-font-size: 13px;
$popover-title-color: $color-base-black;