@charset "utf-8";

/* Select
  -------------------------- */
$select-border-color-hover: $border-color-hover;
$select-disabled-border: $disabled-border-base;
$select-font-size: $font-size-base;
$select-close-hover-color: $color-light-silver;

$select-input-color: $color-extra-light-silver;
$select-multiple-input-color: #666;
$select-input-focus-background: $color-primary;
$select-input-font-size: 12px;

$select-tag-height: 24px;
$select-tag-color: $color-white;
$select-tag-background: $color-primary;

$select-option-color: $link-color;
$select-option-disabled-color: $color-extra-light-silver;
$select-option-disabled-background: $color-white;
$select-option-height: 36px;
$select-option-hover-background: $color-light-gray;
$select-option-selected: $color-primary;
$select-option-selected-hover: shade($color-primary), 0.12;

$select-group-color: #999;
$select-group-height: 30px;
$select-group-font-size: 12px;

$select-dropdown-background: $color-white;
$select-dropdown-shadow: $box-shadow-base;
$select-dropdown-empty-color: #999;
$select-dropdown-max-height: 274px;
$select-dropdown-padding: 6px 0;
$select-dropdown-empty-padding: 10px 0;
$select-dropdown-border: solid 1px $disabled-border-base;
