@charset "utf-8";

$tooltip-fill: $color-base-black;
$tooltip-color: $color-white;
$tooltip-font-size: 12px;
$tooltip-border-color: $color-base-black;
$tooltip-arrow-size: 6px;
$tooltip-padding: 10px;
