@charset "utf-8";

/**
 * Component:	Variables
 * Description:	Define all variables
*/
@import "variables/color-base";
@import "variables/typography";
@import "variables/global";

//======== 【Border】 ========
$border-width-base: 1px;
$border-style-base: solid;
$border-color-base: $color-extra-light-silver;
$border-color-hover:$color-base-silver;
$border-base: $border-width-base $border-style-base $border-color-base;
$border-radius-base: 4px;
$border-radius-small: 2px;
$border-radius-circle: 100%;
/* Disable base
 -------------------------- */
$disabled-fill-base: $color-extra-light-gray;
$disabled-color-base: #bbb;
$disabled-border-base: $color-base-gray;

@import "variables/button";

//======== 【Cell】 ========
$cell-title-fontsize: .3rem;
$cell-title-color: #888;
$cell-height: 1rem;
$cell-left-color: #333;
$cell-left-fontsize: .3rem;
$cell-right-color: #525252;
$cell-right-fontsize: .26rem;
$cell-input-color: #555;
$cell-input-fontsize: .3rem;
$cell-icon-fontsize: .42rem;
$cell-select-color: #A9A9A9;
$cell-select-fontsize: $cell-left-fontsize;
$cell-arrow-color: #C9C9C9;
$cell-arrow-fontsize: .34rem;

//======== 【Grids】 ========
$grids-fontsize: .28rem;
$grids-color: #333;
$grids-bg: #FFF;
$grids-padding-horizontal: .35rem;
$grids-line-color: $line-color;
$grids-line-high-color: $line-high-color;

//======== 【Navbar】 ========
$navbar-height: .9rem;
$navbar-center-width: 50%;
$navbar-item-fontsize: .3rem;
$navbar-icon-fontsize: .36rem;
$navbar-border-color: #B2B2B2;

//======== 【Tabbar】 ========
$tabbar-bg: rgba(255, 255, 255, .96);
$tabbar-border-color: #B2B2B2;
$tabbar-icon-fontsize: .54rem;

//======== 【Actionsheet】 ========
$actionsheet-bg: #EFEFF4;
$actionsheet-item-height: 1rem;
$actionsheet-item-bg: #FFF;
$actionsheet-item-fontsize: .28rem;
$actionsheet-item-color: #555;
$actionsheet-item-border-color: $line-color;
$actionsheet-action-height: 1rem;
$actionsheet-action-bg: $actionsheet-item-bg;
$actionsheet-action-fontsize: $actionsheet-item-fontsize;
$actionsheet-action-color: $actionsheet-item-color;

//======== 【Tab】 ========
$tab-bg: #FFF;
$tab-height: .85rem;
$tab-fontsize: .28rem;
$tab-color: #585858;
$tab-active-color: #FF5E53;
$tab-break-color: $line-color;
$tab-bottom-border-color: $line-high-color;

//======== 【Badge】 ========
$badge-default-bg: #D0D0D0;
$badge-default-color: #FFF;
$badge-primary-bg: #04BE02;
$badge-danger-bg: #EF4F4F;
$badge-warning-bg: #FFB400;
$badge-hollow-bg: #FBFBFB;
$badge-hollow-color: #B2B2B2;

//======== 【Transition】 ========
$all-transition: all .3s cubic-bezier(.645,.045,.355,1);
$fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$fade-linear-transition: opacity 200ms linear;
$md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
$border-transition-base: border-color .2s cubic-bezier(.645,.045,.355,1);
$color-transition-base: color .2s cubic-bezier(.645,.045,.355,1);

@import "variables/screens";
@import "variables/popover";
@import "variables/tooltip";
@import "variables/input";